<div>
  <button *ngIf="!item.is_done; else toDoButton"
          (click)="toggleDone()">
    <span class="icon tick-icon"></span>
  </button>
  <ng-template #toDoButton>
    <button (click)="toggleDone()">
      <span class="icon cancel-icon"></span>
    </button>
  </ng-template>
  <span>{{item.id}}.</span>
  <span [class.done]="item.is_done">{{item.title}}</span>
</div>
<div class="remove-section">
  <div *ngIf="showRemovalSection">
    <p class="title">Are you sure?</p>
    <button class="confirm-btn" (click)="removeItem(item.id)">Yes</button>
    <button (click)="toggleRemovalSection()">No</button>
  </div>
  <button *ngIf="!showRemovalSection" (click)="toggleRemovalSection()">
    <span class="icon delete-icon"></span>
  </button>
</div>
